/* This is used to style the table. */
/* This is currently not used.   */

.Tabelle_header {
  width: 20%;
  border: 1px solid;
}

.tabelle_hd {
  padding: 7px;
  text-align: center;
  height: 50px;
  width: 150px;
  font-size: 1rem;
}
