/* Titel */
#title{
    width: 90%;
  }
  
  .title{
    position: relative;
    left: 70px;
  }
  .titel-text-main{
    position: relative;
      left: 35px;
    text-align: left;

  }
  .lineheader{
    background-color: black;
    height: 3px;
    width: 80px;
    position: absolute;
      left: -70px;
      top: 27px;
    margin-right: 20px;
  }

  .expbutton-expoff{
    width: 20%;
    position: relative;
        right: -87%;
        top: -100%;
   
  }
  
  .text-expoff {
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0;
  }
 


  /* Buttons */
  .row{
    
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .rowbuttons{
    padding: 30px 0 20px;
   
  }
  
  .button{
    outline: black;
    color: black;
    font-size: 1.0rem;
    outline: 1px solid;
    
    
  }


  
  .button:hover{
    background-color: white;
    color: black;
    transform: sle(1.05);
  }

  .infobutton{
    height: 80px;
  }
  .infobutton:hover{
        background-color: #ddd;
  }
  
  .text-fix {
    padding-top: 0.5rem ;
    padding-bottom: 0.3rem;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .text-var{
    padding-top: 0.3rem ;
    padding-bottom: 0.5rem;
    font-size: 1.0rem;
  }
  
  
  
  .breit{
    width: 70%;  
  }
  

  

  /* Text */
  #text{
    width: 100%;
  }
  .text-intro{
    width: 97%;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    text-align: left;
  }
  
  /* Chart */
  #chart{
    margin-right: 25px;
    margin-left: 25px;
  }

  .row-chart{
    height: 440px;
  }
  
  /* Method*/
  .button-method{
    display: block;
    margin-left: auto;
    margin-right: 0;
    border-color: #626262;
  }
  

  .hovertext-method:before{
    width: 200px;
   position: absolute;
        left: 5%;
        top: 40%;
  }
  .fa-angle-down{
    background-color: white;
  }
  .btn-outline-dark{
    border-color: transparent;
    border: 0;
    padding: 4px 12px;
    
  }
  .btn-outline-dark:hover{
    background-color: #586F7C;
  }

  
  
  /*Tabelle*/
  .table{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    float: left;
    width: 95%;
  }

  .btn-table{
    float: left;
    margin: 4px;
    
  }

  .collapse-table{
    float:left;
    width: 85%;
  }

  
  
  /*Hinweis*/

  #hinweis{
    width: 100%;
  }
  
  .text-hinweis{
    width: 97%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left;
  }
  


  
  
  